*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image: url("download.png");
    background-size: cover;
    height: 40px;
    width: 100%;
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/* box2 */
.add-fir{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius : 3px;
    border-bottom-left-radius : 3px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius : 3px;
    border-bottom-right-radius : 3px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}
.nav-country{
    display: flex;   
}
.country-icon{
    display: flex;
    color: rgb(216, 156, 45);
    font-weight: 600;
}
p{
    color: #f3f3f3;
}
.country-option{
    font-size: 0.8rem; 
}

.account-name{
    color: #ffffff;
    font-size: 12px;
}
.cou-down{
    color: #a7acb2;
}

.account-list{
    color: #ffffff;
    font-size: 15px;
    display:flex;
    font-weight: 600;
}

.acc-down{
    color: #a7acb2;
}

.nav-ret{
    font-size: 12px;
}
.nav-ord{
    font-size: 14px;
    font-weight: 600;
}

.nav-cart i {
    font-size: 25px;
}
.nav-cart{
    font-weight: 600;
}

/* next */
.pannel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.categoris p{
    display: inline;
    margin-left: 15px;
}
.categoris{
    width: 70%;
    font-size: 0.85rem;
}
.deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero section */
.hero-section{
    background-image: url("main.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
}
.hero-msg p{
    color: black;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/* footer */

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color:#222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border: 0.5px solid white;
    height: 40px;
}
.copyright{
    margin-top: 8.5px;
    font-size: 0.85rem;
    text-align: center;
}